/* this css file is for recipe page to exchange all inline-blocks to flexboxes */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat"
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #1f1f1f;
    flex-direction: column;
}

nav {
    display: flex;
    padding: 32px 32px;
    min-height: 80px;
    background: #1f1f1f;
}

nav > a {
    vertical-align: bottom;
}

nav ul,
nav ul li {
    display: inline-block;
}

nav ul {
    margin-bottom: 25px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a:link,
nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    color: rgb(196, 188, 247);
}

nav ul li a:active {
    color: rgb(45, 31, 103);
}

#current-page {
    color: rgb(131, 101, 251);
}

header {
    width: 100%;
    text-align: right;
    padding-right: 50px;
}

header > p {
    font-weight: bold;
    font-size: 90pt;
    padding-left: 30px;
    color: rgb(235, 234, 234);
}

.page-header {
    width: 100%;
    background:#1f1f1f;
}

#find{
    text-align: right;
    font-weight: bold;
    font-size: 60pt;
    padding-right: 50px;
    color: rgb(153, 152, 152);
}

.main-part {
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: initial;
}

.middle-bar { 
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(250, 237, 184);
    padding: 50px;
}

.middle-bar h3 {
    font-size: 20pt;
    text-align: center;
    color: rgb(34, 34, 34);
}

.middle-in {
    padding: 50px;
}

.middle-bar p {
    font-size: 13pt;
    text-align: center;
}

footer.normal {
    display: flex;
    left: 0;
    bottom: 0;
    padding: 10px 10px;
    background: #1f1f1f;
    text-align: center;
    width: 100%;
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer p {
    color: #fff;
    display: block;
}

footer .line {
    border-top: 1px solid #ccc;
    width: 80%; /* 선의 길이를 50%로 설정 */
    margin: 20px auto; /* 가운데 정렬 */
}

ul li a:link,
ul li a:visited {
    color: rgb(250, 237, 184);
}

ul li a:hover {
    color: white;
}

ul li a:active {
    color:rgb(45, 31, 103);
}

/*Floating Back-To-Top Button*/
#myBtn {
    position: -webkit-sticky;
    position: sticky;
    bottom: 10px;
    left: calc(100% - 40px); /* button position */
    max-width: 30px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(100, 100, 100);
    padding: .5px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #7dbbf1;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 50px;   
}

.dropdown ul li {
    position: relative; /* adjusting child elements */
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* positioning under parents */
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown ul li:hover .dropdown-content {
    display: block;
}

main ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; 
    display: block; 
}

main ul li {
    display: inline-block;
    text-align: center; 
    width: 320px; 
    vertical-align: middle; 
}

main ul li a {
    display: inline-block; 
    text-align: center; 
    width: 100%; 
}

ul li img {
    display: inline-block;
    width: 300px;
    border-radius: 70px;
    padding: 20px;
    align-items: center;
}