@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat";
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #1f1f1f;
    flex-direction: column;
}

nav {
    display: flex;
    padding: 32px 32px;
    min-height: 80px;
    background: #1f1f1f;
}

nav ul,
nav ul li {
    display: inline-block;
}

nav ul {
    margin-bottom: 25px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a:link,
nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    color: rgb(196, 188, 247);
}

nav ul li a:active {
    color: rgb(45, 31, 103);
}

#current-page {
    color: rgb(131, 101, 251);
}

header {
    width: 100%;
    text-align: right;
    padding-right: 50px;
}

header p {
    font-weight: bold;
    font-size: 90pt;
    padding-left: 30px;
    color: rgb(235, 234, 234);
}

.main-part {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: white;
    color: black;
    padding: 20px;
    margin: 50px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* overflow property */
}

main h2 {
    font-size: 50pt;
    padding: 20px;
    background: rgb(249, 197, 83);
    font-family: "Permanent Marker", cursive;
}

main h3 {
    font-size: 25pt;
    padding: 70px;
}

.recipe-header {
    width: 100%;
    text-align: center;
}

.recipe-header img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 30px 0;
}

.author {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    flex-direction: column; 
}

.author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.summary {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 70px 0;
    padding: 0 200px;
}

.summary div {
    text-align: center;
    flex: 1; /* added flex: 1 to the child div elements to make them flex items and ensure equal spacing. */
}

.summary h4 {
    font-size: 18pt;
}

.summary p {
    font-size: 15pt;
}

.ingredients, .instructions {
    width: 100%;
    margin-bottom: 50px;
}

.ingredients h2, .instructions h2 {
    font-size: 22pt;
    margin: 20px 0;
}

.ingredients ul, .instructions ol {
    margin-left: 50px;
    font-size: 15pt;
}

.ingredients ul li,
.instructions ol li {
    padding: 5px;
}

.actions {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.actions button {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 50px;
    font-weight: bold;
}

button a:link,
button a:visited {
    color: rgb(250, 237, 184);
}

button a:hover {
    color: white;
}

button a:active {
    color: rgb(31, 49, 244);
}

.dropdown {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 50px;
}

.dropdown ul {
    list-style: none;
}

.dropdown ul li {
    float: left;
    width: 20%;
    position: relative; /* 자식 요소의 위치를 조정하기 위해 설정 */
}

.dropdown ul li img {
    width: 100%;
    border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* 부모 요소 아래에 위치 */
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown ul li:hover .dropdown-content {
    display: block;
}

.clear {
    clear: both;
}

footer.normal {
    display: flex;
    left: 0;
    bottom: 0;
    padding: 10px 10px;
    background: #1f1f1f;
    text-align: center;
    width: 100%;
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer p {
    color: #fff;
    display: block;
}

footer .line {
    border-top: 1px solid #ccc;
    width: 80%; /* 선의 길이를 50%로 설정 */
    margin: 20px auto; /* 가운데 정렬 */
}

ul li a:link,
ul li a:visited {
    color: rgb(250, 237, 184);
}

ul li a:hover {
    color: white;
}

ul li a:active {
    color:rgb(45, 31, 103);
}

/*Floating Back-To-Top Button*/
#myBtn {
    position: -webkit-sticky;
    position: sticky;
    bottom: 10px;
    left: calc(100% - 40px); /* button position */
    max-width: 30px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(100, 100, 100);
    padding: .5px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #7dbbf1;
}